.container {
    padding: 3rem
}

.container__header {
    .container__title {
        display: flex;
        justify-content: space-between;
    }

    .container__subtitle {
        display: flex;
        justify-content: start;
        align-items: center;
    }
}

h1 {
    margin: 0 !important;
    padding: 0 !important
}