<form [formGroup]="registroForm" (ngSubmit)="onSubmit()" class="registro-form">
  <mat-form-field class="form-field">
    <mat-label>Nombre:</mat-label>
    <input matInput formControlName="name" type="text" />
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Email:</mat-label>
    <input matInput formControlName="email" type="email" />
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Teléfono:</mat-label>
    <input matInput formControlName="phone" type="tel" />
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Ubicación:</mat-label>
    <mat-select formControlName="idLocation">
      <mat-option *ngFor="let location of locations" [value]="location.id">{{
        location.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    type="submit"
    [disabled]="!registroForm.valid"
    class="submit-button"
  >
    Registrar
  </button>
</form>
